<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
      href="../static/static/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

<link rel="stylesheet" type="text/css"
      href="../static/static/myStyle.css" th:href="@{/static/myStyle.css}">

<head>
    <meta charset="UTF-8">
    <title> Utilisateurs </title>
</head>
<body>

<table class = "table table-striped">
    <thead>
    <tr>
        <th>Ville Depart</th> <th>Ville Arrive</th> <th> Date Départ </th> <th> Date Arrivé </th> <th> Prix </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="A : ${afficheTrajetList}">
        <td th:text="${A.villeD}"></td>
        <td th:text="${A.villeA}"></td>
        <td th:text="${A.dateDepart}"></td>
        <td th:text="${A.dateArrive}"></td>
        <td th:text="${A.Prix}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>